matplotlib==3.9.0
omegaconf==2.3.0
numpy==2.4.1
proxystore
blosc
torch==2.10.0
torchvision==0.25.0
torchaudio==2.10.0
emcee
afterglowpy
pandas
astropy
corner
diaspora_event_sdk
kafka-python
tqdm
# This is the non-GPU version
fiestaEM